.banner {
  background-image: url("./ba1.jpg");
  background-size: cover;
  position: relative;
}

.banner-medio {
  position: relative;
}

.flex-container {
  display: flex;
  justify-content: center;

}

.flex-container > div {

  width: 700px;
  margin: 10px;

}

.banner::before {
  content: "";
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  background-color: rgba(0, 0, 0, 0.6);
}

.banner-texto {
  position: relative;
}

.oradores {
  position: relative;

  margin: 30px;
  margin-left: 70px;
  margin-right: 70px
}

.formulario {
  position: relative;
  padding: auto;
}

footer {
  position: fixed;
  bottom: 0px;
  left: 0px;
  right: 0px;
  margin-bottom: 0px;
}

body {
  margin-bottom: 300px;
}
